version: "3.9"

services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    restart: unless-stopped
    ports:
      - "8123:8123"
    environment:
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
  mqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"    
    command: ["mosquitto", "-c", "/mosquitto-no-auth.conf"] 
    environment:
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
  esphome:
    container_name: esphome
    image: esphome/esphome
    volumes:
      - ./esphome_config:/config
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "6052:6052"
    restart: always
    privileged: true